---
layout: page
title: About Me
description: I, Me, Myself
background: '/img/bg-about.jpg'
---
<p>Hi there!<p>
<p>This is Zunaed Karim Sifat. I used to read lots of books in my early days. These books used to make me feel happy and sad. I too wanted to make
people happy (and sometimes sad too -_-). This is why I wanted to be a writer then, who writes so beautiful stories that everyone can
relate with, you know! I tried again
and again, again and again, and I failed again and again, again and again :(</p>
<p>Being very sad I kinda gave up writing stories, and thought that I might start to write codes and by
writing programs, I thought, I could write something which people could relate with. And even here I am failing and failing too :'( </p>
<p>So, as you already know I am somewhat a f**ked up writer and programmer, I think I may let you know some more information about me. Don't tell
anyone, I am a f**ked up philosophy student too :/ I don't understand what people said, still I pretend as if I understood them all!</p>
<p>One more thing, I am a Linux and
FOOS enthusiast too. If you are not aquinted with the beautiful world of Linux and stuffs, please do a Google/DuckDuckGo search for me and learn how amazing these things
are!</p>
<p>Okay, that's all about me for now. Have nice time, and come back if you wish :D </p>
